<footer class="pt-4 mt-3">
  <div class="col-md-4 d-flex align-items-center">
    <span class="text-muted">&copy; 2021 Company, Inc</span>
  </div>
  <div class="col-md-4 d-flex align-items-center">
    <a href="https://www.linkedin.com/school/epicodeschool/?originalSubdomain=it" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <i class="bi bi-linkedin  m-1" style="font-size: x-large;"></i>
    </a>
    <a href="https://www.instagram.com/epicodeschool/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <i class="bi bi-instagram  m-1" style="font-size: x-large;"></i>
    </a>
    <a href="https://www.facebook.com/epicodeschool/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <i class="bi bi-facebook  m-1" style="font-size: x-large;"></i>
    </a>
    <a href="https://www.youtube.com/c/EpicodeSchool" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <i class="bi bi-youtube  m-1" style="font-size: x-large;"></i>
    </a>
    <div class="col-md-4 d-flex align-items-center"></div>
    <a href="https://www.linkedin.com/in/alice-biasi-323633228/" class="mb-3 me-4 md-0 text-muted text-decoration-none lh-1">
      About me
    </a>
  </div>
</footer>
