<h2 class="text-center mt-4">NUOVA FATTURA</h2>
<div class="newcl">
<form class="m-4" action="">
    <div class="form-group row">
        
        <div class="col-6">
            <input [(ngModel)]="newFattura.data" type="number"  class="form-control" name="data" placeholder="Data fatturazione..." required>
        </div>
        <div class="col-6">
            <input [(ngModel)]="newFattura.numero" type="number" class="form-control" name="numero" placeholder="Numero fattura ..." required>
        </div>
        <div class="col-6">
            <input [(ngModel)]="newFattura.anno" type="number" class="form-control" name="anno" placeholder="Anno fatturazione ..." required>
        </div>
        <div class="col-6">
            <input [(ngModel)]="newFattura.importo" type="number" class="form-control" name="importo" placeholder="Importo ..." required>
        </div>
        <select class="form-select form-select-lg" [(ngModel)]="newFattura.stato" name="stato" aria-label="Default select example" >
            <option selected>Stato fattura...</option>
            <option  *ngFor="let item of stato" [ngValue]="item" >{{item.nome}}</option>
        </select>
        <select class="form-select form-select-lg" [(ngModel)]="newFattura.cliente" name="cliente" aria-label="Default select example" >
            <option selected>Cliente</option>
            <option  *ngFor="let item of clienti" [ngValue]="item" >{{item.nomeContatto}}</option>
        </select>
    </div>
</form>
</div>
<div>
    <button (click)="CreateNewFattura(newFattura)" class="buttonagg btn btn-dark form-control" type="submit"><i class="bi bi-person-plus-fill" > Aggiungi</i></button>
</div>
<div>
    <button class="buttonagg btn btn-light form-control" type="button" [routerLink]="['/fatture/page/:page']" routerLinkActive="router-link-active" ><i class="bi bi-arrow-left-right"> Torna a FATTURE</i></button>
</div>
