<div class="container">
    <div class="row palo">
        <div class="home-page">
            <div class="image-c">
                <div class="image">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVVicQex6VJjcAeprzA_tvfIyfTCF2uuxGfqR1af8VofrA0LlH58ShSjHToUa1HLvChrc&usqp=CAU">
                </div>
                <h4 style="text-align: center;">CLIENTI</h4>
                <p style="text-align: center; color: rgb(82, 80, 80); margin: 2%;">Visualizza e modifica i clienti ed i loro dettagli</p>
                <div class="zoom">
                    <button class="btn btn-light" [routerLink]="['/clienti']" routerLinkActive="router-link-active" ><i class="bi bi-people-fill"></i></button>
                </div>
            </div>  
        </div>

        <div class="home-page">
            <div class="image-c ">
                <div class="image">
                    <img src="https://as1.ftcdn.net/v2/jpg/00/66/63/60/1000_F_66636038_EcKvI3yaGE7cG24Wki765ljYoibHTRYY.jpg">
                </div>
                <h4 style="text-align: center;">FATTURE</h4>
                <p style="text-align: center; color: rgb(82, 80, 80); margin: 2%;" >   Visualizza e modifica le fatture ed i loro dettagli</p>
                <div class="zoom">
                    <button class="btn btn-light" [routerLink]="['/fatture']" routerLinkActive="router-link-active" ><i class="bi bi-file-text-fill"></i></button>
                </div>
            </div>
        </div>

    </div>
</div>